In [30]:
#Numbers
#Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.
#Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [2]:
#Answer these 3 questions without typing code. Then type code to check your answer.

#What is the value of the expression 4 * (6 + 5)

#What is the value of the expression 4 * 6 + 5 

#What is the value of the expression 4 + 6 * 5

In [3]:
44

44

In [4]:
29

29

In [5]:
34

34

In [7]:
#What is the type of the result of the expression 3 + 1.5 + 4?


#What would you use to find a numberâ€™s square root, as well as its square?

In [8]:
float

float

In [74]:
#square root
100 ** 0.5
#square
10 ** 2

100

s = 'hello'
# Print out 'e' using indexing

In [10]:
s[1]

'e'

In [11]:
s ='hello'
# Reverse the string using slicing

In [75]:
s[::-1]

'olleh'

In [12]:
#Given the string hello, give two methods of producing the letter 'o' using indexing.
s ='hello'

In [77]:
# Method 1:
s[-1]

'o'

In [78]:
# Method 2:
s[4]

'o'

In [15]:
#Lists
#Build this list [0,0,0] two separate ways.

In [19]:
# Method 1:
my_list = [0,0,0]

In [80]:
# Method 2:
[0]*3

[0, 0, 0]

In [21]:
#Reassign 'hello' in this nested list to say 'goodbye' instead:
list3 = [1,2,[3,4,'hello']]

In [24]:
list3[2][2] = 'goodbye'

In [25]:
list3

[1, 2, [3, 4, 'goodbye']]

In [27]:
#Sort the list below:
list4 = [5,3,4,6,1]

In [28]:
list4.sort()

In [29]:
list4

[1, 3, 4, 5, 6]

In [31]:
#Dictionaries
#Using keys and indexing, grab the 'hello' from the following dictionaries:

In [32]:
d = {'simple_key':'hello'}
# Grab 'hello'

In [33]:
d['simple_key']

'hello'

In [87]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

In [89]:
d['k1'][0]['nest_key'][1][0]

'hello'

In [42]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [48]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [49]:
#Can you sort a dictionary? Why or why not?

In [ ]:
#A: Dictonories are mapping not sequence

In [50]:
#Tuples
#What is the major difference between tuples and lists?

In [ ]:
#A:

In [51]:
#How do you create a tuple?

In [ ]:
#A:

In [52]:
#Sets
#What is unique about a set?

In [53]:
#A: Sets have similar to list but have unique values only

In [55]:
#Use a set to find the unique values of the list below:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [56]:
new_set = set(list5)

In [57]:
new_set

{1, 2, 3, 4, 11, 22, 33}

In [58]:
#Booleans
#For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

In [60]:
# Answer before running cell
#2 > 3 : False

In [61]:
# Answer before running cell
#3 <= 2 False

In [62]:
# Answer before running cell
#3 == 2.0 False

In [64]:
# Answer before running cell
#4**0.5 != 2 False

In [67]:
#Final Question: What is the boolean output of the cell block below?
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

In [1]:
# True or False?
#l_one[2][0] >= l_two[2]['k1'] : False

In [3]:
False

False